body {
  background-color: #222831;
}

.viewer {
  background-color: white;
  height: 2000px;
  width: 100%;
}

.node {
  position: absolute;
  padding: 0;
}

.node_name {
  margin: 0;
  padding: 0 5px;
  text-align: center;
}

.node_type {
  margin: 0;
  padding: 0 5px;
  text-align: center;
}

.node_products {
  margin: 0;
  padding: 0 5px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.firewall {
    width: 50%;
    height: 1rem;
}
