body {
  background-color: #222831;
}

/* .viewer_element {
  position: absolute;
} */

.ui-draggable:active {
  z-index: 4;
}

.ui-draggable .viewer_element:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

/* .ui-resizable-handle { 
  background-image: none;
} */

.ui-draggable .viewer_element:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-draggable.viewer_element:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.ui-draggable.viewer_element:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.viewer {
  background-color: white;
  height: 2000px;
  width: 100%;
}

.node {
  position: absolute;
  padding: 0;
  z-index: 2;
}

.node_left {
  padding: 0;
  margin: 0;
  text-align: center;
}

.node_right {
  padding: 0;
  margin: 0;
}

.server {
  width: 4rem;
}

.node_name {
  margin: 0;
  padding: 0 5px;
  text-align: center;
}

.node_type {
  margin: 0;
  padding: 0 5px;
  text-align: center;
}

.node_products {
  margin: 0;
  padding: 0 5px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.network, .firewall {
  z-index: 1;
}

.network {
  width: 50%;
  height: 1rem;
}

.firewall {
  width: 2rem;
}

.x_connection {
  border-style:  dashed none none none;
  height: 2px;
  width: 10%;
}

.y_connection {
  border-style: none none none dashed;
  height: 10%;
  width: 2px;
}

.textbox {
  background-color: white;
  padding: 0 5px;
  position: absolute;
  z-index: 3;
}

.deletable {
  cursor: -webkit-crosshair;
  cursor: -moz-crosshair;
  cursor: -o-crosshair;
  cursor: -ms-crosshair;
  cursor: crosshair;
}